body {
    margin: 8px 0px;
    text-align: center;
}

.links > a {
    display: inline-block;
    margin: 5px;
}

table {
    margin: auto;
}

.gray {
    background-color: lightgray;
}

th, td {
    padding: 3px 10px;
    text-align: center;
}

.fox, .fs1, .fs2, .cnbc {
    color: navy;
}

.espn, .espn, .imsatv, .floracing {
    color: red;
}

.usa {
    color: crimson;
}

.peacock, .nbc {
    color: goldenrod;
}

#notes {
    margin: 15px;
    font-size: small;
}
