body {
    margin: 8px 0px;
    text-align: center;
}

.links > a {
    display: inline-block;
    margin: 5px;
}

table {
    margin: auto;
}

.gray {
    background-color: lightgray;
}

.next {
    animation: flash-yellow 2s linear infinite;
}

@keyframes flash-yellow {
    from, to {
        background-color: yellow;
    }
    50% {
        background-color: unset;
    }
}

.live {
    animation: flash-red 2s linear infinite;
}

@keyframes flash-red {
    from, to {
        background-color: red;
    }
    50% {
        background-color: unset;
    }
}

th, td {
    padding: 3px 10px;
    text-align: center;
}

.fox, .fs1, .fs2, .cnbc {
    color: navy;
}

.espn, .espn, .imsatv, .floracing {
    color: red;
}

.usa {
    color: crimson;
}

.peacock, .nbc {
    color: goldenrod;
}

#disclaimer {
    font-size: small;
}

#notes {
    margin: 15px;
    font-size: small;
}
